.services{
    display: flex;
    flex-wrap: wrap;
    .services__item{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        @include mq('tablet'){
            flex: 0 0 100%;
            max-width: 100%;
        }
        &--blue{
            background-color: #e0f0f1;

            color: #73c4e2;
            
        }
        &--orange{
            background-color: rgb(245, 236, 223);

            color: #e29673;

        }
        &--green{
            background-color: #dcf3df;
            color: #73e289;
        }
        img{
            width: 200px;
            margin-bottom: 30px;
        }
        p{
            text-decoration: none;
            margin-bottom: 60px;
            
        }
        &:hover{
            text-decoration: none;
            .button{
                &::before{
                    width: 100%;
                }
            }
        }
        .bg{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: .4;
            background-size: cover;
            background-position: 0 100%;
        }
    }
}

.colophon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 5px 60px;
    @include mq('tablet'){
        padding: 5px 15px;
        font-size: 10px;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
    }
    a{
        color: var(--grey);
    }
}