#contentHomeIndex{
  section.homeHeader
  {
    position: relative;

    .text
    {
        background:var(--gradient);
    }
  }

  section.homeAbout
  {

  }

  section.homeServices
  {
    position: relative;
    min-height: 100vh;

    #swiperServices
    {
      top:0;
      left:0;
      right:0;
      bottom:0;
        .swiper-wrapper{
            height: auto;
            @include mq('tablet'){
            }
        }
      .swiper-slide
      {
        display: block;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        height: auto;
        width: 100%;
        

        .image
        {
          top:0;
          left:0;
          right:0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          width: 100%;
          padding-bottom: 100%;
          position: relative;
          z-index: 2;
        }   

        .text
        {
          bottom:0;
          left:0;
          right:0;
          //height:27%;
          padding:9% 9%;
          box-sizing: border-box;
          ul{
            position: relative;
            z-index: 99;
            padding: 0;
            line-height: 200%;
            font-size: 1.2rem;
            color:var(--cyan);
            @include mq('tablet'){
              font-size: 1rem;
              line-height: 150%;
            }
          }

          .bg
          {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background: #faf5ee;
          }

          .h2
          {
            position: relative;
            font-weight: 900;
            display: inline-block;
            padding-bottom: 6px;
            padding-right: 18px;
            padding-left: 0;

            span.line
            {
              width:32px;
              height:3px;
              position: absolute;
              top:0;
              left:0;
              background: var(--cyan);
            }

            span.txt
            {
              position: relative;
              z-index:1;
              display:inline-block;
              margin-left: -2px;
            }
          }

          .button
          {
            position: absolute;
            bottom: 0;
            margin-bottom: 7%;
            right:9%;
          }
        }
        
        &.bg_0, &.bg_1
        
        {
            background: #eed3b5;

          .text
          {
            .bg
            {
              background: #eed0b5;
            }
            
            .h2
            {
              color: #ffffff;
              
              span.line
              {
                background: #ffffff;
              }
            }
            ul{
                
                li{
                    color: #ffffff;
 
                }
              }

            .button
            {
              &:before
              {
                background: #eefbf0;
              }
            }
          }
        }
        
        &.bg_1
        {
        background: var(--light-blue);
          .text .bg
          {
            background: var(--light-blue);
          }
        }
      }

      .swiperButton
      {
        position: absolute;
        bottom: 27%;
        width:82px;
        line-height:80px;
        background: #fbf5ee;
        text-align: center;
        font-size: 36px;
        z-index:2;
        color:var(--cyan);;
        cursor:pointer;

        i
        {
          display: inline-block;
          vertical-align: middle;
        }

        &.left
        {
          left:0;
        }

        &.right
        {
          right:0;
        }

        &:hover
        {
          background: var(--blue);
          color:#ffffff;
        }
      }
    }
  }
}

.swiper-pagination{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  .swiper-pagination-bullet{
    border: solid 1px var(--cyan);
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 2px;
    &.swiper-pagination-bullet-active{
      background-color:var(--cyan) ;
    }
  }
}