header{
    display:flex;
    padding: 4% 8%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition:  all .3s ease-in-out;
    img{
        min-width: 90px;
        width: 10%;
    }
    &.show-bg{
        background:var(--gradient);
        padding-top:15px;
        padding-bottom: 15px;
    }
}