.button
{
  display:inline-block;
  position: relative;
  line-height: 41px;
  font-family: urw-din, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .857em;
  font-weight: bold;
  color:var(--blue);
  margin-right: -17px;
  background: transparent;
  border:none;
  letter-spacing: 2px;
  cursor: pointer;

  &:before
  {
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:53px;
    background: var(--light-blue);
    transition: width .3s ease-in-out;
  }

  span
  {
    position: relative;
    display: block;
    padding-left: 17px;
    padding-right: 17px;
  }

  &:hover
  {
    &:before
    {
      width:100%;
    }
  }
}

.buttonHoverContainer
{
  &:hover
  {
    .button
    {
      &:before
      {
        width:100%;
      }
    }
  }
}

.button-edan{
    color: #73c4e2;
    &::before{
        background-color: #d4edf2;
    }
}

.button-man{
    color: #e29673;
    &::before{
        background-color: #f2e6d4;
    }
}

.button-green{
  color: #73e289;
  &::before{
      background-color: #d4f2d8;
  }
}