
  


.h1
{
  font-size: 5em; // 72px
  margin-top: 0;

  .gsWord, .gsChar
  {
    padding-bottom: 2.5%;
    margin-bottom: -2.5%;
  }
}

.h1-2
{
  font-size: 3.57em; // 50px
}

.h2
{
  font-size: 2.8em; // 40px
  margin-top: 0;
}

.h3
{
  font-size: 2em; // 28px
}

.h4
{
  font-size: 1.43em; // 20px
}

.h4-2
{
  font-size: 1.285em; // 18px
}

.h5
{
  font-size: .857em;
}

.f16
{
  font-size: 1.143em;
}

.f34
{
  font-size: 2.42em;
}

.f100
{
  font-size: 6em;
}


.html
{
  line-height: 200%;

  h2
  {
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
  }

  p
  {
    margin-top: 15px;
  }

  img
  {
    width:100%;
    display: block;
  }
}