// CUSTOMIZE ALL YOUR GLOBAL DESIGN

body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: var(--grey);
    font-family: var(--font-content);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    background-color: var(--bg-color);
   overflow: auto;
   scroll-behavior: smooth;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: white;
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: transform .3s ease-in-out;
    padding: 30px;
    img{
        width: 100%;
        max-width: 400px;
    }
    &.hide{
        transform: translateY(100%);
    }
}
main{
    width: 100%;
    overflow: hidden;
}

.container
{
  padding-left: 8%;
  padding-right: 8%;

  .subcontainer
  {
    padding-left: 6%;
    padding-right: 6%;
  }
}

section
{
  &.header
  {
    position: relative;
    min-height: 100vh;
    display: flex;

    .text
    {
      position: relative;
      margin-right: 39%;
      padding:0 3.8%;
      background:#ffffff;
      z-index:1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .description
      {
        margin-top: 12%;
        margin-bottom: 8%;
      }

      .scrollNext
      {
        position: absolute;
        bottom:4.7%;
        right:5.5%;
        cursor: pointer;
        line-height: normal;
        font-size: 38px;

        @media all and (max-width: 1024px)
        {
          font-size: 30px;
        }
      }
    }

    .image
    {
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      width:39%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &.titleLeft,
  &.quote
  {
    .middleP
    {
      overflow: hidden;

      .left
      {
        float: left;
        width:39%;
      }

      .right
      {
        float: right;
        width:55%;
      }

      .button
      {
        margin-top: 14%;
      }
    }
  }

  &.quote
  {
    min-height: 100vh;
    overflow: hidden;
    background:var(--gradient);

    .middle
    {
      vertical-align: bottom;

      .middleP
      {
        color: #ffffff;
        padding-top: 4%;
        padding-bottom: 5%;
        
        .h1
        {
          color: #ffffff;
        }
        
        .right
        {
          .button
          {
            margin-top: 10%;
            color:var(--flashBlue);
          }

          .or
          {
            display: inline-block;
            vertical-align: middle;
            margin:0 10%;

            @media all and (max-width: 1130px)
            {
              margin: 0 6.2%;
            }
          }
        }
      }

      .form
      {
        margin-left: 16%;
        position: relative;
        overflow: hidden;
        margin-right: -10%;
        padding-right: 10%;

        &:before
        {
          content: '';
          background: #ffffff;
          position: absolute;
          top:0;
          left:0;
          right:-11.5%;
          bottom:0;
        }

        form
        {
          position: relative;

          .in
          {
            padding-left: 10.8%;
            padding-top: 4%;
            padding-bottom: 2%;
            overflow: hidden;
          }

          .h4
          {
            font-weight: 500;
            text-transform: uppercase;
            color:var(--cyan);
          }

          .h5
          {
            font-weight: 500;
            margin-top: 8px;
            color:var(--grey);
          }

          .titles
          {
            padding-left: 1.8%;
            margin-bottom: 2.5%;
          }

          .input
          {
            float: left;
            width:33.33%;
            padding:1% 1.8%;

            &.textarea,
            &.submit
            {
              width:100%;
            }

            input, textarea
            {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              width:100%;
              display: block;
              padding:15px 25px;
              border:1px solid var(--cyan);
              font-size: 1em;
              color:var(--grey);
              font-family: sofia-pro, sans-serif;
            }

            textarea
            {
              height:92px;
              resize: none;
            }
          }

          .input.submit
          {
            .button
            {
              color: var(--blue);
            }
          }
        }
      }
    }
  }

  &.centered
  {
    text-align: center;

    .h1
    {
      margin-bottom: 7%;
    }

    .button
    {
      margin-top: 7%;
    }
  }

  .h1, .h2, .h3, .h4
  {
    color:var(--cyan);
  }
  
  &.white
  {
    color: #ffffff;

    .h1, .h2, .h3
    {
      color: #ffffff;
    }
    
    .button
    {
      color: #ffffff;

      &:before
      {
        background: rgba(238,249,251,.5);
      }
    }
  }
}

.middle
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width:100%;
  .middleP
  {
    padding-top:8%;
    padding-bottom:8%;
  }
}


/* ---------- GENERAL ---------- */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  
  a {
    color: #eee;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
  }
  
  p {
    line-height: 1.5em;
  }
  
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  

  .formContainer
{
  position: relative;
  
  .formSuccessMessage
  {
    display: none;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    line-height: normal;
    font-size: 1em;
    background-color: white;

    .in
    {
      text-align: center;
      color: var(--grey);
      padding:25px 25px;
      position: absolute;
      top:50%;
      left:0;
      right:0;
      transform: translate(0,-50%);
      overflow: hidden;

      .h4
      {
        color: var(--cyan);
        margin-bottom: 20px;
      }
    }
  }
}

.parsley-required{
  color:red!important
}