// @Author: arnaudherr
// @Date:   2018-09-05T09:16:32+02:00
// @Last modified by:   arnaudherr
// @Last modified time: 2019-01-23T08:11:29+01:00

$breakpoints: (
  mobile: "(max-width:576px)",
  tablet: "(max-width:767px)",
  laptop: "(max-width:992px)",
  big-screen: "(max-width:1400px)",

) !default;

@mixin mq($breakpoint-name) {
    $breakpoint-name: unquote($breakpoint-name);
    @if map-has-key($breakpoints, $breakpoint-name) {
        $query: map-get($breakpoints, $breakpoint-name);
        @media all and #{$query} {
            @content;
        }
    }
    @else {
        @warn "#{$mq-name} is not a value defined in the 'breakpoints' map.";
    }
}


@media all and (max-width: 1600px) {
    html
    {
      /**
      rate 0.8333
       */
      .h1
      {
        font-size: 4.16em; // 72px
      }
  
      .h1-2
      {
        font-size: 2.95em; // 50px
      }
  
      .h2
      {
        font-size: 2.33em; // 40px
      }
  
      .h3
      {
        font-size: 1.66em; // 28px
      }
  
      .h4
      {
        font-size: 1.19em; // 20px
      }
  
      .h4-2
      {
        font-size: 1.07em; // 18px
      }
  
      .f16
      {
        font-size: 1.1em;
      }
  
      .f34
      {
        font-size: 2em;
      }
  
      .f100
      {
        font-size: 5.8em;
      }
    }
  }
  
  @media all and (max-width: 1440px) {
    html
    {
      body, .initFontSize
      {
        font-size: 13px;
      }
    }
  }
  
  @media all and (max-width: 1366px) {
    html
    {
      /**
      rate 0.853
       */
      .h1
      {
        font-size: 3.54em; // 72px
      }
  
      .h1-2
      {
        font-size: 2.51em; // 50px
      }
  
      .h2
      {
        font-size: 1.99em; // 40px
      }
  
      .h3
      {
        font-size: 1.42em; // 28px
      }
  
      .h4
      {
        font-size: 1.15em; // 20px
      }
  
      .h4-2
      {
        font-size: 1em; // 18px
      }
  
      .f16
      {
        font-size: 1em;
      }
  
      .f34
      {
        font-size: 1.7em;
      }
  
      .f100
      {
        font-size: 4.95em;
      }
    }
  }
  
  @media all and (max-width: 1024px) {
    html
    {
      /**
      rate 0.853
       */
      .h1
      {
        font-size: 3.02em; // 72px
      }
  
      .h1-2
      {
        font-size: 2.14em; // 50px
      }
  
      .h2
      {
        font-size: 1.7em; // 40px
      }
  
      .h3
      {
        font-size: 1.21em; // 28px
      }
  
      .h4
      {
        font-size: 1.1em; // 20px
      }
  
      .h4-2
      {
        font-size: 1em; // 18px
      }
  
      .f16
      {
        font-size: 1em;
      }
  
      .f34
      {
        font-size: 1.45em;
      }
  
      .f100
      {
        font-size: 4.22em;
      }
    }
  }
  
  
  @media all and (max-width: 1023px) {
    html
    {
      /**
      rate 0.733
       */
      .h1
      {
        font-size: 2.2em; // 72px
      }
  
      .h1-2
      {
        font-size: 1.56em; // 50px
      }
  
      .h2
      {
        font-size: 1.24em; // 40px
      }
  
      .h3
      {
        font-size: 1.15em; // 28px
      }
  
      .h4
      {
        font-size: 1.07em; // 20px
      }
  
      .h4-2
      {
        font-size: 1em; // 18px
      }
  
      .f16
      {
        font-size: 1em;
      }
  
      .f34
      {
        font-size: 1.25em;
      }
  
      .f100
      {
        font-size: 3em;
      }
  
      .container
      {
        padding-left: 25px;
        padding-right: 25px;
  
        .subcontainer
        {
          padding-left: 0;
          padding-right: 0;
        }
      }
  
      .middle .middleP {
        padding-top: 40px;
        padding-bottom: 40px;
      }
  
      #buttonMenu
      {
        right:20px;
        top:20px;
      }
      #menu
      {
        .close
        {
          right:20px;
          top:20px;
        }
        ul li a span
        {
          line-height: 80px;
        }
      }
  
      section.titleLeft,
      section.quote
      {
        .middleP
        {
          .left, .right
          {
            float: none;
            width:auto;
            margin:0;
          }
  
          .left
          {
            .button
            {
              margin-top: 20px;
            }
          }
  
          .right
          {
            margin-top: 20px;
          }
        }
      }
  
      section.quote .middle
      {
        .middleP
        {
          padding-top: 40px;
          padding-bottom: 40px;
  
          .right .or
          {
            display: none;
          }
        }
        .form
        {
          margin-left: 0;
          padding-left: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
  
          form
          {
            .input
            {
              width:100%;
            }
          }
        }
      }
  
  
      /*
      HOME
       */
      #contentHomeIndex, #contentServicesDetails
      {
        section.header
        {
          line-height: normal !important;
          min-height: 0 !important;
            display: block;
          .image
          {
            position: static;
            top:0;
            left:0;
            right:0;
            width:100%;
            height:180px;
          }
  
          .text
          {
            margin-right: 0;
            margin-left: 0;
            line-height: normal;
            padding:0;
          }
        }
      }
      #contentHomeIndex section.homeServices #swiperServices .swiperButton
      {
        width:50px;
        line-height: 50px;
        font-size: 20px;
      }
      #contentHomeIndex section.homeServices #swiperServices .swiper-slide .text .h2 span.line
      {
        display: none;
      }
  
    
     
    }
  }