@font-face {
    font-family: 'Panchang-Light';
    src: url('../fonts/Panchang-Light.woff2') format('woff2'),
         url('../fonts/Panchang-Light.woff') format('woff'),
         url('../fonts/Panchang-Light.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  
  @font-face {
    font-family: 'Panchang-Regular';
    src: url('../fonts/Panchang-Regular.woff2') format('woff2'),
         url('../fonts/Panchang-Regular.woff') format('woff'),
         url('../fonts/Panchang-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Medium';
    src: url('../fonts/Panchang-Medium.woff2') format('woff2'),
         url('../fonts/Panchang-Medium.woff') format('woff'),
         url('../fonts/Panchang-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Semibold';
    src: url('../fonts/Panchang-Semibold.woff2') format('woff2'),
         url('../fonts/Panchang-Semibold.woff') format('woff'),
         url('../fonts/Panchang-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
:root{
  --default-font-size:14px;
  --default-font-weight:200;
  --font-content:'sofia-pro',sans-serif;
  --grey:#a7a7a7;
  --darkGrey:#3d3d3d;
  --light-blue:#f2e4d4;
  --cyan:#e6c9a9;
  --blue:#e2ac73;
  --flashBlue:#d47e1c;
  --gradient: linear-gradient(45deg, #e2ac73 0%,#e6c9a9 100%);
}






